# Go
bin/
*.exe
*.test
*.out
*.log
coverage.*
*.coverprofile

# Editor / OS
.DS_Store
*.swp
.idea/
.vscode/

# Docker
*.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
*.backup

# Kubernetes
*.yaml~    # Arquivos temporários

# Node (caso use algum script)
node_modules/

# Logs
logs/
*.log

# GitHub Actions
.github/workflows/*.tmp
